<h1>My Files</h1>

<% @user=params[:format]%>
<%= will_paginate %>

 <% UserFile.all.each do |user_file| %>
   
     <%if (@user==user_file.user_id.to_s) %>
     <li>
     <%= link_to user_file.file,download_files_path(user_file), :method=> "get" %>
     </li>
     <% end %>
  
<% end %>
<%= will_paginate %>


